page-terminal {
    button.btn-disconnect {
        border-radius: 30px !important;
        border: 1px solid #ffffff;
        box-shadow: none !important;
    }

    ion-toolbar.background-clear .toolbar-background {
        display: none;
    }
}
