<ion-header>
  <ion-navbar color="dark">
    <ion-title>Terminal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!(connected$ | async)">
    <ion-list-header>
      Locations (DEBUG LIST)
    </ion-list-header>

    <ion-item detail-push *ngFor="let location of locations$ | async" (click)="select(location)">
      {{ location.name$ | async }}
    </ion-item>
  </ion-list>

  <div *ngFor="let location of [ location$ | async ]">
    <location *ngIf="location" [location]="location">
      
    </location>
  </div>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <button ion-button large full block color="danger" (click)="disconnect()" *ngIf="(connected$ | async)">
      <ion-label>Disconnect</ion-label>
      <ion-icon item-right name="close"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
