page-terminal {
    button.btn-disconnect {
        border-top-left-radius: 30px !important;
        border-bottom-left-radius: 30px !important;
        box-shadow: none !important;
    }

    ion-toolbar.background-clear {
        padding-right: 0px !important;
        margin-left: 20px;

        .toolbar-background {
            display: none;
        }
    }
}
