<ion-header>
  <ion-navbar color="dark">
    <ion-title>Terminal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!(connected$ | async)">
    <ion-list-header>
      Locations (DEBUG LIST)
    </ion-list-header>

    <ion-list>
      <ion-item detail-push *ngFor="let location of locations$ | async" (click)="select(location)">
        <ion-label>
          {{ location.name$ | async }}
        </ion-label>

        <ion-badge item-content [color]="location.health$ | async">
          {{ location.health$ | async }}
        </ion-badge>
      </ion-item>
    </ion-list>
  </div>

  <div *ngFor="let location of [ location$ | async ]">
    <location *ngIf="location" [location]="location">

    </location>
  </div>

</ion-content>

<ion-footer no-border>
  <ion-toolbar class="background-clear">
    <button ion-button large full block color="danger" class="btn-disconnect" @disconnectButton (click)="disconnect()" *ngIf="(connected$ | async)">
      <ion-label>Disconnect</ion-label>
      <ion-icon item-right name="close"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
