 <div class="page-location" @contentSlide>
  <ion-list>
    <ion-item>
      <ion-row class="icon-row">
        <ion-col></ion-col>
        <ion-col width-67>
          <div *ngFor="let icon of [ location.icon$ | async ]">
            <img class="icon" width=150 height=150 *ngIf="icon" [src]="icon" />
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-item>
    <ion-list-header>{{ location.name$ | async }}</ion-list-header>

    <ion-item class="item-condition" [color]="location.health$ | async">{{ location.health$ | async }}</ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Damage Report
    </ion-list-header>

    <ion-item *ngIf="!(ailments$ | async)">
      <ion-spinner item-right></ion-spinner>
      <ion-label>Analysing ...</ion-label>
    </ion-item>

    <ailment *ngFor="let ailment of ailments$ | async" [ailment]="ailment">
    </ailment>
  </ion-list>
</div>
