.page-location {

  ion-list {
    margin-top: 25px;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }

  .icon-row {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ion-list > *:first-child {
    border-top-left-radius: 30px !important;
  }

  ion-list *:last-child {
    border-bottom-left-radius: 30px !important;
  }

  ion-item, ion-list-header {
    padding-left: 0px !important;
    font-size: 0.9em;
    margin-bottom: 2px;
    margin-left: 20px;
    border: 2px solid black !important;
    border-bottom: 0px !important;
    border-right: 0px !important;
    box-shadow: none !important;
    ion-label {
      text-align: center;
    }
  }

  ion-list-header {
    margin-top: 0px !important;
    background: darkslategrey !important;
    ion-label {
      color: white;
      font-size: 1.2em;
    }
  }

  .item-condition {
    text-transform: capitalize;
  }
}