<ion-list-header>
  Details
</ion-list-header>

<ion-list>
  <ion-item>
    <ion-label>
      Name
    </ion-label>

    <div item-content>
      {{ location.name$ | async }}
    </div>
  </ion-item>

  <ion-item>
    <ion-label>
      Condition
    </ion-label>

    <ion-badge item-content [color]="location.health$ | async">
      {{ location.health$ | async }}
    </ion-badge>
  </ion-item>
</ion-list>

<ion-list-header>
  Damage Report
</ion-list-header>

<ion-list>
  <ion-item *ngIf="!(ailments$ | async)">
    <ion-spinner item-right></ion-spinner>
    <ion-label>Analysing ...</ion-label>
  </ion-item>

  <ailment *ngFor="let ailment of ailments$ | async" [ailment]="ailment">

  </ailment>
</ion-list>
